<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home page</title>
</head>
<body style="background-color:grey">
<div class="container" style="width:70%; background-color:white; padding: 10px; margin:auto">
    <h1 th:inline="text">SERVICES</h1>
    <hr/>
    <a href="/login" style="margin:auto"><h3>Login</h3></a>
    <a href="/info" style="margin:auto"><h3>View info</h3></a>
</div>
</body>

</html>
